* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Mukta', sans-serif;
}

.blurry{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.display{
    display: none;
}

#form-contact{
    height: 300px;
    width: 350px;
    position: absolute;
    background-color:pink;
}