* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color:#3D5A80;
    background-image: radial-gradient(darkgray 7%, transparent 1%),radial-gradient(#fafafa 7%, transparent 1%);
    background-size: 20px 20px;
    /* background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3D5A80), color-stop(50%, white));
    background: linear-gradient(90deg, #3D5A80 50%, white 50%); */
}

.display{
    display: none;
}

input[type="text"]{
    border: 0;
    background: lightgray;
}

.navbar{
    border-bottom: 3px solid #EE6C4D;
    background-color: #293241!important;
}

#question{
    text-align: justify;
}

#answer{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

h4{
    background-color:white;
}

.btn{
    background-color:#EE6C4D;
    color:white;
}

.btn:hover{
    color: white!important;
}

.lead{
    font-size: 1.2rem;
    background-color: white;
    word-spacing: 2.5px;
}

img{
    position:absolute;
    width: 35%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}