$color-primary:#3D5A80;
$color-secondary:#636e81;

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: #3D5A80;
	background-image: radial-gradient(darkgray 7%, transparent 1%),radial-gradient(#fafafa 7%, transparent 1%);
	background-size: 15px 17px;
}
input[type="text"] {
	border: 0;
	background: white;
	border: 2px solid $color-primary;
	padding: 5px;
	text-align: center;
	width: 160px;
}
.btn-tahak {
	width: 160px;
	background: $color-primary;
    color: white;
}
.btn-reload {
	width: 160px;
	background: $color-primary;
    color:white;
}

.btn-submit{
    background: $color-primary;
    color:white;
}
#ansform {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}
#next {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}
#answer {
	.btn {
		border: 3px solid transparent;
	}
}
#mainIMG {
	margin-top: 10px;
	width: 65%;
	z-index: 999;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	span {
		&:nth-child(1) {
			background-color: white;
		}
		&:nth-child(2) {
			position: absolute;
			right: 0;
			margin-right: 5px;
			background-color: white;
		}
	}
}
a {
	text-decoration: none;
	color: $color-primary;
	&:hover {
		color: $color-primary;
	}
}
.btn-A {
	&:hover {
		background-color: $color-secondary;
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-B {
	&:hover {
		background-color: $color-secondary;
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-C {
	&:hover {
		background-color: $color-secondary;
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-D {
	&:hover {
		background-color: $color-secondary;
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-E {
	&:hover {
		background-color: $color-secondary;
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}

