$color-primary:#3D5A80;
$color-secondary:#2d4666;


* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: $color-primary;
	background-image: radial-gradient(darkgray 7%, transparent 1%),radial-gradient(#fafafa 7%, transparent 1%);
	background-size: 20px 20px;
}

input[type="text"] {
	border: 0;
	background: white;
	border: 2px solid $color-primary;
	padding: 5px;
	text-align: center;
	width: 160px;
}


.btn-tahak {
	width: 160px;
}
.btn-reload {
	width: 160px;
}
.btn-clear {
	width: 160px;
}

.btnH{
	width: 50px;
}

.btnF{
	width: 50px;
	&:nth-child(1){
		background-color: black;
		color:black;
	}
	&:nth-child(2){
		background-color: green;
		color:green;
	}
	&:nth-child(3){
		background-color: red;
		color: red;
	}
	&:nth-child(1):hover{
		background-color: black;
		color:black;
	}
	&:nth-child(2):hover{
		background-color: green;
		color:green;
	}
	&:nth-child(3):hover{
		background-color: red;
		color: red;
	}
}


.btn{
    background-color:$color-primary;
    color:white;
    &:hover {
		color: white;
	}
}
#ansform {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}
#next {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}
#answer {
	.btn {
		border: 3px solid transparent;
	}
}

#lineWidth{
	width: 160px;
	border-bottom: 2px solid
}

#mainIMG {
	width: 65%;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	span {
		background-color: white;
		a{
			color: $color-primary;
			&:hover{
				color:$color-secondary;
			}
		}
	}
}
a {
	text-decoration: none;
	color: white;
	&:hover{
		color: white;
	}
}
.btn-A {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-B {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-C {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-D {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-E {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}

.btn{
	&:hover{
		background-color: $color-secondary;
	}
}

#rokCisloP{
	background-color:white;
	max-width: 230px;
}

#canvas{
	position: absolute;
	&:hover{
		cursor: crosshair;
	}
}

@media(max-width: 767.98px) { 
	#mainIMG{
		width: 95%;
	}

	#next {
		position: absolute;
		right: 0;
		bottom: 0!important;
	}
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
	#mainIMG{
		width: 80%;
	}
}

