textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #064663;
  background-image: radial-gradient(darkgray 7%, transparent 1%), radial-gradient(#fafafa 7%, transparent 1%);
  background-size: 7px 7px;
}

input[type="text"] {
  border: 0;
  background: white;
  border: 2px solid #064663;
  padding: 5px;
  text-align: center;
  width: 160px;
}

.btn-tahak {
  width: 160px;
}

.btn-reload {
  width: 160px;
}

.btn-clear {
  width: 160px;
}

.btnH {
  width: 50px;
}

.btnF {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

.btnF:nth-child(1) {
  background-color: #1A1B1D;
  color: #1A1B1D;
}

.btnF:nth-child(2) {
  background-color: #77dd77;
  color: #77dd77;
}

.btnF:nth-child(3) {
  background-color: #FF6961;
  color: #FF6961;
}

.btnF:nth-child(1):hover {
  background-color: #1A1B1D;
  color: #1A1B1D;
}

.btnF:nth-child(2):hover {
  background-color: #77dd77;
  color: #77dd77;
}

.btnF:nth-child(3):hover {
  background-color: #FF6961;
  color: #FF6961;
}

.btn {
  background-color: #064663;
  color: white;
}

.btn:hover {
  color: white;
}

#ansform {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

#next {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 25px;
  margin-right: 10px;
}

#answer .btn {
  border: 3px solid transparent;
}

#lineWidth {
  width: 160px;
  border-bottom: 2px solid;
}

#mainIMG {
  width: 65%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer span {
  background-color: white;
}

footer span a {
  color: #064663;
}

footer span a:hover {
  color: #04293A;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.btn-A:hover {
  margin-top: -10px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

.btn-A:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-B:hover {
  margin-top: -10px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

.btn-B:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-C:hover {
  margin-top: -10px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

.btn-C:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-D:hover {
  margin-top: -10px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

.btn-D:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-E:hover {
  margin-top: -10px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

.btn-E:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #04293A;
}

#rokCisloP {
  max-width: 140px;
}

#canvas {
  position: absolute;
}

#canvas:hover {
  cursor: crosshair;
}

@media (max-width: 767.98px) {
  #mainIMG {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #next {
    position: absolute;
    bottom: 0 !important;
    top: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #mainIMG {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */