$color-primary: #064663;
$color-secondary:#04293A;
$color-red: #FF6961;
$color-green:#77dd77;
$color-black:#1A1B1D;

textarea:hover, 
textarea:active, 
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: $color-primary;
	background-image: radial-gradient(darkgray 7%, transparent 1%),radial-gradient(#fafafa 7%, transparent 1%);
	background-size: 7px 7px;
}

input[type="text"] {
	border: 0;
	background: white;
	border: 2px solid $color-primary;
	padding: 5px;
	text-align: center;
	width: 160px;
}

.btn-tahak {
	width: 160px;
}
.btn-reload {
	width: 160px;
}
.btn-clear {
	width: 160px;
}

.btnH{
	width: 50px;
}

.btnF{
	width:40px;
	height:40px;
	border-radius: 50%;
	display: inline-block;
	&:nth-child(1){
		background-color: $color-black;
		color:$color-black;
	}
	&:nth-child(2){
		background-color:$color-green;
		color:$color-green;
	}
	&:nth-child(3){
		background-color: $color-red;
		color: $color-red;
	}
	&:nth-child(1):hover{
		background-color: $color-black;
		color:$color-black;
	}
	&:nth-child(2):hover{
		background-color: $color-green;
		color:$color-green;
	}
	&:nth-child(3):hover{
		background-color: $color-red;
		color: $color-red;
	}
}


.btn{
    background-color:$color-primary;
    color:white;
    &:hover {
		color: white;
	}
}
#ansform {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}
#next {
	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 25px;
	margin-right: 10px;
}
#answer {
	.btn {
		border: 3px solid transparent;
	}
}

#lineWidth{
	width: 160px;
	border-bottom: 2px solid
}

#mainIMG {
	width: 65%;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	span {
		background-color: white;
		a{
			color: $color-primary;
			&:hover{
				color:$color-secondary;
			}
		}
	}
}
a {
	text-decoration: none;
	color: white;
	&:hover{
		color: white;
	}
}
.btn-A {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-B {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-C {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-D {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}
.btn-E {
	&:hover {
		margin-top: -10px;
		transition: margin-top 0.3s;
	}
	&:not(:hover) {
		transition: all 0.3s;
	}
}

.btn{
	&:hover{
		background-color: $color-secondary;
	}
}





#rokCisloP{
	max-width: 140px;
}

#canvas{
	position: absolute;
	&:hover{
		cursor: crosshair;
	}
}

@media(max-width: 767.98px) { 
	#mainIMG{
		width: 100%;
	}
 }

 @media(max-width: 768px) { 
	#next{
		position: absolute;
		bottom: 0 !important;
		top:auto;
	}
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
	#mainIMG{
		width: 80%;
	}
}

